.background-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.background-image {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.foreground-image {
  position: absolute;
  right: 0;
  top: 0px;
  z-index: 0;
}

/* Media Query para Mobile */
@media (max-width: 768px) {
  .background-container {
    position: absolute;
    width: 80vw;
    height: 350px;
  }

  .background-image {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 400px) {
  .background-container {
    position: absolute;
    width: 80vw;
    height: 300px;
  }

  .background-image {
    width: 100%;
    height: auto;
  }
}