.background-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 100vw;
  height: auto;
}

.background-image {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  max-width: 100%;
  height: auto;
}

.foreground-image {
  position: absolute;
  right: 0;
  top: 0px;
  z-index: 0;
  max-width: 100%;
  height: auto;
}

/* Ajustes para tablets e telas menores */
@media (max-width: 1000px) {
  .background-container {
    width: 80vw;
    height: auto;
  }

  .background-image {
    width: 70%;
    height: auto;
  }

  .foreground-image {
    width: 70%;
    height: auto;
    top: 20px;
  }
}

/* Ajustes para telas de celular (em modo retrato) */
@media (max-width: 500px) {
  .background-container {
    width: 100vw;
    height: auto;
  }

  .background-image,
  .foreground-image {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
}
