.background-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 650px;
    width: 650px;  
    background-color: rgba(186, 230, 253, 1);
    border-radius: 50% 90% 100% 100% / 100% 0% 100% 100%;
    z-index: -1; /*
    This is fundamental because when I use this property with -1, it guarantee that if another
    element conflicts in space with this background, this background will be behind the other element
    */
}

/* Media Query para Mobile */
@media (max-width: 768px) {
  .background-container {
    position: absolute;
    width: 80vw;
    height: 350px;
  }

  .background-image {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 400px) {
  .background-container {
    position: absolute;
    width: 80vw;
    height: 300px;
  }

  .background-image {
    width: 100%;
    height: auto;
  }
}
