.mobileAppContainer {
    border-radius: 20px;
    background-color: white;
    padding: 1%;
    box-shadow: 0px 20px 25px -5px rgb(0, 0, 0, 0.5);
}

.mobileAppContent {
    height: 750px;
    background: rgba(224, 242, 254, 1);
    border-radius: 20px 20px 0 0;
    padding: 10% 7% 0 7%;
    margin: 0;
    z-index: 0;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid white;
    display: inline-block;
    margin-right: 10px;
}

.title {
    width: 70%;
    height: 16px;
    background-color: rgba(186, 230, 253, 1);
    align-self: center;
    border-radius: 10px;
    margin-left: 10%;
}

.featureCardsContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.featureCard {
    position: relative;
    width: 33%;
    height: 196.8px;
    background: #FFFFFF;
    border: 2px solid #38BDF8;
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25), 0px 0px 15px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    overflow: hidden;
}

.featureCard:nth-child(1) {
    position: absolute;
    left: 8%;
    top: 33%;
}

.featureCard:nth-child(2) {
    position: absolute;
    left: 48%;
    top: 33%;
}

.featureCard:nth-child(3) {
    position: absolute;
    left: 83%;
    top: 33%;
}

.ellipse {
    position: absolute;
}

.ellipse3 {
    position: absolute;
    left: 0%;
    right: 11.8%;
    top: 30.83%;
    bottom: 0%;
    width: 70%;
    height: 100%;
}

.ellipse5 {
    position: absolute;
    left: 40%;
    top: 0%;
    bottom: 74.89%;
    width: 45%;
    height: 60%;
}

.largeCircle {
    position: absolute;
    right: 27.85%;
    top: 52.1%;
    width: 60px;
    height: 60px;
    background: rgba(186, 230, 253, 1);
    border-radius: 50%;
}

.smallCircle {
    position: absolute;
    left: 64.56%;
    bottom: 76.47%;
    width: 30px;
    height: 30px;
    background: rgba(251, 191, 36, 1);
    border-radius: 50%;
}

.star {
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 1;
    width: 60%;
    z-index: 1;
}

.ellipseForStar {
    position: absolute;
    top: 10%;
    right: 2%;
    width: 45%;
    height: 50%;
    z-index: 0;
    clip-path: circle(58% at 77% 40.5%);
    /* A tentative of cutting this circle in the area of the star */
}

.lastFeatureCard {
    transform: translateX(15%);
}

.bar {
    width: 187.2px;
    height: 14.4px;
    background-color: white;
    align-self: center;
    border-radius: 5px;
    position: absolute;
    top: 60%;
}

.lastFeatureContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: white;
    border-radius: 20px 20px 0 0;
    top: 12.3%;
    height: 23.5%;
}

.largeCircleInLastFeature {
    position: absolute;
    left: -4.9%;
    right: 47.9%;
    top: -22.45%;
    bottom: 39.29%;
    width: 170px;
    height: 170px;
    background: white;
    border: 10px solid rgba(224, 242, 254, 1);
    border-radius: 50%;
}

.smallCircleInLastFeature {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 30%;
    left: 65%;
    background: rgba(251, 191, 36, 1);
    border-radius: 50%;
}

.triangle {
    position: absolute;
    right: 0%;
    bottom: 0%;
    border-left: 130px solid transparent;
    border-top: 130px solid rgba(186, 230, 253, 1);
    transform: rotate(90deg);
}

.bottomMenu {
    background: rgba(224, 242, 254, 1);
    border-top: 3px solid rgba(255, 255, 255, 1);
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5% 0;
}

.bottomMenuIcon {
    height: 50px;
}

@media (max-width: 768px) {


    .mobileAppContent {
        height: 660px;

        padding: 0 2%;
    }

    .featureCard {
        width: 33%;
        height: 150px;

    }

    .smallCircle{
      
        top: 10%;
    }

    .lastFeatureContainer {
        top: 12%;
        width: 85%;
        left: 8%;
    }

    .largeCircleInLastFeature {
        width: 140px;
        height: 140px;
    }

    .smallCircleInLastFeature {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 30%;
        left: 60%;
        background: rgba(251, 191, 36, 1);
        border-radius: 50%;
    }
    
    .triangle {
        position: absolute;
        right: 0%;
        bottom: 0%;
        border-left: 110px solid transparent;
        border-top: 110px solid rgba(186, 230, 253, 1);
        transform: rotate(90deg);
    }

}

@media (max-width: 500px) {
    .mobileAppContent {

        height: 400px;
    }

    .mobileAppWrapper {
        left: 5%;
    }

    .description {
        left: 10%;
        position: relative;
    }


    .featureCard {
        width: 33%;
        height: 100px;
        margin-left: 10%;
    }

    .star {
        position: absolute;
        top: 0%;
        left: 10%;
        z-index: 1;
        width: 60%;
        z-index: 1;
    }

    .ellipseForStar {
        position: absolute;
        top: 10%;
        right: 2%;
        width: 45%;
        height: 50%;
        z-index: 0;
        clip-path: circle(60% at 82% 42.5%);
    }

    .lastFeatureContainer {
        top: 9.5%
    }

    .largeCircleInLastFeature {
        height: 100px;
        width: 100px;
        border: 7px solid rgba(224, 242, 254, 1);
    }

    .smallCircleInLastFeature {
        width: 25px;
        height: 25px;
        top: 25%;
        left: 60%;
    }

    .triangle {
        border-left: 80px solid transparent;
        border-top: 80px solid rgba(186, 230, 253, 1);
    }

    .featureCardsContainer {
        margin-top: 0;
    }

    .bar {
        margin-top: 0;
        height: 7.54px;
        width: 50%;
        left: 10%;
    }

    .lastFeatureContainer {
        top: 10.3%;
        height: 20%;
        width: 90%;
        left: 5%;
    }

    .bottomMenuIcon {
        height: 30px;
    }
}

@media (max-width: 400px) {
    .mobileAppContent {
        height: 390px;
    }

    .smallCircle {
        left: 50%;
        bottom: 55%;
        width: 30px;
        height: 30px;
    }

    .largeCircleInLastFeature {
        height: 65px;
        width: 65px;
        border: 5px solid rgba(224, 242, 254, 1);
    }

    .smallCircleInLastFeature {
        width: 30px;
        height: 30px;
        top: 25%;
        left: 50%;
    }

    .triangle {
        border-left: 65px solid transparent;
        border-top: 65px solid rgba(186, 230, 253, 1);
    }

    .featureCard {
        width: 33%;
        height: 100px;
        margin-left: 3%;
    }

}

@media (max-width: 170px) {

    .mobileAppContent {
        height: 170px;
        border-radius: 20px;
    }

    .featureCardsContainer {
        display: none;
    }

    .bottomMenu {
        display: none;
    }
}