.mobileAppContainer {
    border-radius: 20px;
    background-color: white;
    padding: 1%;
    box-shadow: 0px 20px 25px -5px rgb(0, 0, 0, 0.5);
    position: relative;
}

.mobileAppContent {
    height: 700px;
    background: rgba(224, 242, 254, 1);
    border-radius: 20px 20px 0 0;
    padding: 10% 7% 0 7%;
    margin: 0;
    z-index: 0;
}

.firstImage {
    margin-bottom: 0%;
    display: flex;
    left: 10%;
    width: 80%;
    position: absolute;
    top: 5%;
}

.firstImageContent {
    height: auto;
}

.secondImage {

    left: 10%;
    position: absolute;
    top: 36%
}

.secondImageContent {
    width: 80%;

    height: auto;
}

.thirdImage {
    left: 10%;
    position: absolute;
    top: 60%;

}

.thirdImageContent {
    height: auto;
    width: 60%;
}


.featureCardsContainer {
    display: flex;
    justify-content: space-around;
    top: 65%;
    left: 10%;
    position: absolute;
}

.featureCardCircle {
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

.firstCircle {
    left: 0;
    width: 100px;
    height: 100px;
    border: 4px solid white;
}

.secondCircle {
    left: 12.5%;
    width: 100px;
    height: 100px;
    border: 4px solid rgba(186, 230, 253, 1);
}

.thirdCircle {
    left: 23%;
    width: 100px;
    height: 100px;
    border: 4px solid white;
}

.bottomMenu {
    background: rgba(224, 242, 254, 1);
    border-top: 3px solid rgba(255, 255, 255, 1);
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5% 0;
}

.bottomMenuIcon {
    height: 50px;
}

@media (max-width: 700px) {

    .mobileAppContainer {
        padding: 2%;
    }

    .mobileAppContent {
        padding: 0% 7% 0 7%;
        height: 750px;
    }

    .firstImage {
        margin-bottom: 0%;
        display: flex;
        left: 10%;
        width: 80%;
        position: absolute;
        top: 5%;
    }

    .firstImageContent{
        width: 100%;
    }

    .secondImage {
        left: 10%;
        position: absolute;
        top: 36%
    }

    .thirdImage {
        left: 10%;
        position: absolute;
        top: 55%;
    }

    .featureCardsContainer {
        display: flex;
        justify-content: space-around;
        top: 65%;
        left: 10%;
        height: 110px;
        position: absolute;
    }

    .featureCardCircle {
        border-radius: 50%;
        position: relative;
        z-index: 1;
    }

    .firstCircle {
        left: 0;
        width: 120px;
        height: 120px;
        border: 2.5px solid white;
    }

    .secondCircle {
        left: 10%;
        width: 120px;
        height: 120px;
        border: 2.5px solid rgba(186, 230, 253, 1);
    }

    .thirdCircle {
        left: 20%;
        width: 120px;
        height: 120px;
        border: 2.5px solid white;
    }


    .bottomMenuIcon {
        height: 50px;
    }
}

@media (max-width: 500px) {
    .mobileAppContent {
        padding: 0% 7% 0 7%;
        height: 390px;

        .firstImage {
            margin-bottom: 0%;
            display: flex;
            left: 10%;
            width: 80%;
            position: absolute;
            top: 5%;
        }
    
        .secondImage {
            left: 10%;
            position: absolute;
            top: 36%
        }
    
        .thirdImage {
            left: 10%;
            position: absolute;
            top: 60%;
        }
    
        .featureCardsContainer {
            display: flex;
            justify-content: space-around;
            top: 65%;
            left: 10%;
            height: 110px;
            position: absolute;
        }
    
        .featureCardCircle {
            border-radius: 50%;
            position: relative;
            z-index: 1;
        }
    
        .firstCircle {
            left: 0;
            width: 60px;
            height: 60px;
            border: 2.5px solid white;
        }
    
        .secondCircle {
            left: 12.5%;
            width: 60px;
            height: 60px;
            border: 2.5px solid rgba(186, 230, 253, 1);
        }
    
        .thirdCircle {
            left: 23%;
            width: 60px;
            height: 60px;
            border: 2.5px solid white;
        }
    
    
        .bottomMenuIcon {
            height: 40px;
        }

    }  
}

@media (max-width: 380px) {
    .firstCircle {
        left: 0;
        width: 50px;
        height: 50px;
        border: 2.5px solid white;
    }

    .secondCircle {
        left: 16%;
        width: 50px;
        height: 50px;
        border: 2.5px solid rgba(186, 230, 253, 1);
    }

    .thirdCircle {
        left: 35%;
        width: 50px;
        height: 50px;
        border: 2.5px solid white;
    }
}

@media (max-width: 350px) {
    .mobileAppContent {
        height: 220px;
    }

    .firstCircle {
        display: none;
    }

    .secondCircle {
        display: none;
    }

    .thirdCircle {
        display: none;
    }
}

@media (max-width: 200px) {
    .mobileAppContent {
        height: 140px;
        border-radius: 20px;
    }

    .bottomMenu {
        display: none;
    }
}