.pickSunSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 150px 0;

}

.sectionContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    position: relative;
}

.backgroundContainer {
    width: 100%;
    /* children will determine the height of this container */
    position: relative; }


.ellipseBackgroundLeft {
    position: absolute;
    width: 710px;
    height: auto;
    left: -7%;
    top: -10%; 
    z-index: -1;
}

.ellipseBackgroundRight {
    position: absolute;
    right: 0%;
    top: 22%;
    z-index: -1;
}

.desktopImage {
    position: relative;
    width: 1520px;
    height: 854px;
    margin-top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('/Desktop.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}

.sectionCaption {
    color: rgba(217, 119, 6, 1);
    font-size: 20px;
}

.sectionTitle {
    font-family: Roboto, sans-serif;
    font-size: 56px;
    font-weight: 600;
    line-height: 61.6px;
    text-align: center;
    color: #171717;
}

.sectionParagraph {
    width: 900px;
    height: auto;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #0F172A;
    margin-top: 16px;
}

@media (max-width: 750px) {
    .pickSunSection {
        padding: 20% 0 0 0;
        margin: 0;
        
    }

    .backgroundContainer {
        width: auto;
        overflow: hidden;
        min-height: 100%;
    }

    .ellipseBackgroundLeft {
        position: absolute;
        width: auto;
        height: 200px;
        left: -25%;
    
       
    }

    .ellipseBackgroundRight {
        position: absolute;
        width: 209.74px;
        right: -37%;
        top: 5%;
    }

    .desktopImage {
        position: relative;
        width: 600px;
        height: 400px;
        margin-top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-image: url('/Desktop Mobile.svg');
    }

    .sectionCaption {
        font-size: 1rem;
    }

    .sectionTitle {
        font-size: 32px;
    }

    .sectionParagraph {
        font-size: 1rem;
        font-weight: 400;
        line-height: 22.4px;
        width: 320px;
        height: auto;
        text-align: center;
    }
}