.pickSunSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 150px 0;

}

.sectionContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    position: relative;
}

.backgroundContainer {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center; /* Centraliza a imagem principal */
    align-items: center;     /* Alinha ao centro verticalmente */
}

.ellipseBackgroundLeft {
    position: absolute;
    width: 40%; /* Define a largura como porcentagem do container */
    height: auto;
    left: -20%; /* Mantém a posição relativa ao container */
    top: -10%; 
    z-index: -1;
}

.ellipseBackgroundRight {
    position: absolute;
    width: 40%; /* Define a largura como porcentagem do container */
    height: auto;
    right: -25%; /* Ajuste da posição para manter relação com a imagem */
    top: 10%;
    z-index: -1;
}

.desktopImage {
    position: relative;
    width: 80%; /* Usa porcentagem para garantir que a imagem se ajuste */
    max-width: 1520px; /* Define um limite máximo */
    height: auto;
    background-image: url('/Desktop.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}

.sectionCaption {
    color: rgba(217, 119, 6, 1);
    font-size: 20px;
}

.sectionTitle {
    font-family: Roboto, sans-serif;
    font-size: 56px;
    font-weight: 600;
    line-height: 61.6px;
    text-align: center;
    color: #171717;
}

.sectionParagraph {
    width: 900px;
    height: auto;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #0F172A;
    margin-top: 16px;
}

@media (max-width: 750px) {
    .pickSunSection {
        padding: 20% 0 0 0;
        margin: 0;
        
    }

    .backgroundContainer {
        width: auto;
    
        min-height: 100%;
    }

    .ellipseBackgroundLeft {
        width: 40vw; /* Menor para dispositivos móveis */
        left: -15vw;
        top: -10vh; 
    }

    .ellipseBackgroundRight {
        width: 40vw; /* Menor para dispositivos móveis */
        right: -20vw;
        top: 8vh;
    }

    .desktopImage {
        width: 90vw; /* Aumenta para ocupar uma proporção maior da tela no mobile */
        max-width: 600px; /* Limite de largura máxima */
        height: auto;
        background-image: url('/Desktop Mobile.svg');
    }

    .sectionCaption {
        font-size: 1rem;
    }

    .sectionTitle {
        font-size: 32px;
    }

    .sectionParagraph {
        font-size: 1rem;
        font-weight: 400;
        line-height: 22.4px;
        width: 320px;
        height: auto;
        text-align: center;
    }
}